<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <title>Realtime Snack Poll</title>
    </head>
    <body>
        <div class="container">  
            <h1> Favorite Midnight Snack </h1>   
            <p> Select your favorite snack </p>     
              
            <form id="opinion-form">  
                <p>  
                    <input type="radio" name="snack" id="cheese" value="Cheese">  
                    <label for="cheese">Cheese</label>  
                </p>  
                  
                <p>  
                    <input type="radio" name="snack" id="chips" value="Chips">  
                    <label for="chips">Chips</label>  
                </p>  
                  
                <p>  
                    <input type="radio" name="snack" id="chocolate" value="Chocolate">  
                    <label for="chocolate">Chocolate</label>  
                </p>   
                  
                <p>  
                    <input type="radio" name="snack" id="other" value="Something Else">  
                    <label for="other">Something Else</label>  
                </p>  
                <input type="submit" value="Vote" class="btn btn-success"/>  
            </form>  
        
            <br><br>  
            <div id="chart-container" style="height:300px;width:100%;">  
        
            </div>  
        </div> 
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>  
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>  
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.js"></script>  
        <script src="http://cdn.ably.io/lib/ably.min-1.0.js"></script>      
        <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>      
        <script src="/main.js"></script> 
    </body>
</html>